.Wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  margin: 0 auto;
  padding: var(--padding-primary);

  @media (min-width: 769px) {
    width: 100ch;
    max-width: 90vw;
  }
}

.picture {
  width: 100%;
  height: 25vh;
  background: #222222;
}

.tabs {
  width: 100%;
  height: min-content;
}

.aside {
  width: 100%;
  height: 30vh;
  background: lightskyblue;
}

.postwall {
  width: 100%;
}
