.DialogItem {
  color: var(--color-text-header);
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  max-height: 5rem;
  min-width: 14rem;
  padding: 1rem;
  margin: 1px 0px 1px 1px;
  align-items: center;
}

.DialogItem:focus-within {
  outline: var(--color-primary) solid 0.5px;
}

.DialogItem_chosen {
  background: var(--color-secondary);
}

.DialogItem-Link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 0;
  text-decoration: none;
}

.DialogItem-Preview {
  flex: 1;
  margin-left: 0.5rem;
}

.DialogItem-Name {
  margin: 0;
  max-height: 1.2rem;
}

.DialogItem-Message {
  color: var(--color-text-ui);
  font-size: 0.7rem;
  margin: 0;
}

.DialogItem-Meta {
  font-size: 0.6rem;
  flex: 0 0 2.5em;
}

.DialogItem-Count {
  display: block;
  height: 1.5em;
  width: 1.5em;

  border-radius: 50%;
  background: var(--color-primary);
  color: var(--color-background);
}

.DialogItem-Passed {
  padding: 1rem 0;

  color: var(--color-primary);
}
