.Wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-primary);
  z-index: 1;

  box-shadow: 0 0 0.7em rgba(32, 16, 16, 0.2);
  clip-path: inset(0 0 -2em 0);
  height: calc(2em + (var(--padding-primary) * 2));
}

.ButtonBox {
  min-width: 10%;
}

.MemberName {
  margin: 0;
}
