.Wrapper {
  background: var(--color-background);
  border-radius: var(--border-radius-small);
  border: 0.08em solid var(--color-border-light);
  box-shadow: 0 0.25em 0.5em var(--color-shadow-light);
}
