.post {
  color: var(--color-text-ui);
  display: block;
}

.postText {
  margin: 0;
  padding: 0.7rem 0.3rem;
}

.header {
  display: flex;
}

.title {
  margin-left: var(--padding-primary);
  margin-right: auto;
}

.time {
  font-size: 0.8rem;
  color: var(--color-text-unfocused);
}

.name {
  color: var(--color-text-headers);
  font-size: 1rem;
  padding: 0;
  margin: 0;
}

.views {
  font-size: 0.8rem;
}
