.Wrapper {
  position: relative;
}

.Image {
  border-radius: 15%;
}

.Status {
  display: block;
  position: absolute;
  background: none;
  border-radius: 50%;  
}

.Status.online{
  background: greenyellow;
}