.avatarWrapper {
  position: relative;
}

.avatarImg {
  border-radius: 15%;
}

.avatarStatus {
  display: block;
  position: absolute;
  background: none;
  border-radius: 50%;  
}

.avatarStatus.online{
  background: greenyellow;
}