.Wrapper {
  display: flex;
  flex-flow: column;
  width: 100%;
  overflow: hidden;
  box-shadow: none;
}

.Background {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;

  .Image {
    position: absolute;
    width: 100%;

    object-fit: cover;

    filter: blur(6px) contrast(60%);
    // Hide vignette from blur
    transform: scale(1.05);
  }

  .Avatar {
    margin: 2em;
    width: 7em;
    height: 7em;
    filter: drop-shadow(0 0.14em 0.1em rgb(43, 43, 43));
  }
}

.Name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.Controls {
  .Buttons {
  }
}

.DialogButton {
  font-size: 0.8rem;
}
