.header {
  position: sticky;
  top: 0;
  background-color: navy;
  display: flex;
  justify-content: space-between;
  height: 5vh;
  z-index: 10;
}

.header img {
  height: 100%;
}

.headerAuthButton {

}