
.spinnerWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.spinner {
  width: 25%;
  min-width: 5em;
  background: transparent;
  border-top: 4px solid var(--color-primary);
  border-right: 4px solid transparent;
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}

.spinner:before {
  content: "";
  display: block;
  padding-top: 100%;
}

@-webkit-keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes spin {
  from {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
