.app-wrapper {
  display: grid;
  width: 100vw;
  margin: 0 auto;
  
  grid-template-rows: 6vh 1fr;
  grid-template-columns: 2fr 10fr; 
  /* grid-gap: 2vh; */
  grid-template-areas: ' header header'
  'nav main';
}

.app-header {
  grid-area: header;
  background-color: navy;
}

.app-header img {
  width: 6vh;
}

img {
  width: 100%;
}

.app-nav {
  grid-area: nav;

  background-color: cadetblue;
}

.app-main {
  grid-area: main;
  
  background-color: rgb(100, 133, 134);
}