@import-normalize;

:root {
  /* Colors */
  --color-text-headers: #3f414d;
  --color-text-unfocused: #a09e9e;
  --color-text-ui: #777d74;
  --color-text-light: #ffffff;
  --color-background: #ffffff;
  --color-primary: cornflowerblue;
  --color-secondary: #eef8ff;
  --color-border-light: #f1f1f1;
  --color-border-dark: #dbdbdb;
  --color-shadow-light: #d2d6d8;
  --color-shadow-blue: #4988c4d3;
  --color-focus: #50b5ff;
  --color-error: #dc3545;

  /* Sizes */
  --border-radius-small: 0.5em;
  --padding-primary: 0.63em;

  /* Fonts */
  --font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
    'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

body {
  background: #fafafb;
  color: var(--color-text-headers);
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
Override some button styles which explicitly
set incorrectly for some systems/DE(?) 
*/
button {
  font-size: 1em;
  font-family: var(--font-family);
  padding: 0;
}

* {
  box-sizing: border-box;
}

.react-icons {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}
