@import-normalize;

body {
  background: #fafafb;
  color: var(--color-text-headers);
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* 
Override some button styles which explicitly
set incorrectly for some systems/DE(?) 
*/
button {
  font-size: 1em;
  font-family: var(--font-family);
  padding: 0;
}

* {
  box-sizing: border-box;
}

.react-icons {
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
}
