.CardWrapper {
  padding: var(--padding-primary);
  min-width: 14rem;
  min-height: 5.7rem;
}

.Header {
  padding-bottom: var(--padding-primary);
}

.Heading {
  font-size: 1.4em;
  margin: 0;
}

.Content {
  padding-top: var(--padding-primary);
}
