.dialogsWrapper {
  position: relative;
  display: flex;
  height: 95vh;
  background: var(--color-background);
  overflow: hidden;
}

@media (min-width: 769px) {
  .dialogsWrapper {
    max-width: 70ch;
    height: 90vh;

    margin: var(--padding-primary) auto;
    border-radius: var(--border-radius-small);

    box-shadow: 0 0.25em 0.5em var(--color-shadow-light);
  }
}

.dialogsWrapper.dialogChosen .dialogsChat {
  display: flex;
}

.ControlButton {
  position: absolute;
  z-index: 3;
  top: calc(var(--padding-primary) - 0.3em);
  left: calc(var(--padding-primary) - 0.4em);
}
